<md-dialog aria-label="Détails du point d'interet" class="medium-dialog">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2 flex="flex" style="color : white; font-weight: bold">Détails du point d'interet</h2>
    </div>
  </md-toolbar>

  <md-dialog-content style="height:100%">
    <form name="tooltipForm" >

      <br/>

      <div layout="row" layout-sm="row">
        <md-input-container flex="flex" class="layout-padding">
          <label>Titre</label>
          <input ng-model="tmp.Titre" required autofocus autocomplete="off"/>
        </md-input-container>
      </div>

      <div layout="row" layout-sm="row">

        <md-input-container flex="flex" class="layout-padding">
          <label>Description</label>
          <input ng-model="tmp.Desc" autocomplete="off"/>
        </md-input-container>

      </div>

      <md-dialog-actions layout="row" style="border-bottom: 0">

          <md-button ng-click="closeDialog()">
            Annuler
          </md-button>

          <md-button style="margin-right:20px;" ng-click="envoyer(tmp)" ng-disabled="tooltipForm.$invalid">
            Confirmer
          </md-button>

      </md-dialog-actions>
    </form>


  </md-dialog-content>

</md-dialog>
