<div id="orbit-loader-reso" ng-show="loadingReso"></div>
<div id="orbit-loader" ng-show="loading" >{{loading}}%</div>

<div  style="position:absolute; width:100%">
  <div class="nofocus" style="height:100px" ng-click="isTitreCollapsed = !isTitreCollapsed" >
    <h1 id="titreImage" contenteditable={{isEditMode}}> {{titre}} </h1>
  </div>
  <div uib-collapse="isTitreCollapsed">
    <div id="descImage" class="well well-lg" contenteditable={{isEditMode}}>
      {{description}}
    </div>
  </div>
</div>

<div id="button-container">


  <div style="top:40%; position:absolute">

    <div class="nofocus canvasButton" ng-click="zoomIn(); deleteAllPop()">
      <i class="fa fa-search-plus"></i>
    </div>

    <div class="nofocus canvasButton"  ng-click="zoomOut(); deleteAllPop()">
      <i class="fa fa-search-minus"></i>
    </div>

  </div>

  <div style="bottom: 85px; position:absolute">

    <div class="nofocus canvasButton" ng-click="toggleLeft(); deleteAllPop()">
      <md-tooltip md-direction="left">Ouvrir/Fermer le menu</md-tooltip>
      <i class="fa fa-bars"></i>
    </div>

    <div class="nofocus canvasButton" ng-click="editMode()">
      <md-tooltip md-direction="left">Mode édition</md-tooltip>
      <i class="fa fa-pencil-square-o" ng-class="{'red' : isEditMode, 'white' : !isEditMode }"></i>
    </div>

  </div>

</div>

    <md-sidenav md-theme="{{theme}}" class="md-sidenav-left" md-component-id="left"
                md-disable-backdrop md-whiteframe="4">

      <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">

          <h1 flex md-truncate>Points d'interet</h1>

          <md-button ng-show ="isEditMode" class="md-icon-button" aria-label="Export XML" ng-click="exportXML()">
            <md-icon class="fa fa-file-text-o fa-2x"></md-icon>
            <md-tooltip md-direction="bottom">Export XML</md-tooltip>
          </md-button>

          <md-button class="md-icon-button" aria-label="Close Sidenav" ng-click="toggleLeft()">
            <md-icon class="fa fa-times fa-2x" md-colors="::{color: '{{theme}}-primary'}"></md-icon>
          </md-button>
        </div>
      </md-toolbar>



      <md-content layout-margin>
        <br/>

        <form>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-search"></i></div>
              <input type="text" class="form-control" placeholder="Recherche..." style="height : 50px; font-size:16pt" ng-model="motCle">
            </div>
          </div>
        </form>

        <table id="tooltip-table">
          <br/>
          <tbody ng-repeat="tooltip in tooltips | orderBy : 'title'  | filter: motCle " id="{{tooltip.id}}">
          <tr class="border_bottom">
            <td class = "nofocus" ng-click="isCollapsed = !isCollapsed; $event.stopPropagation();"><i ng-class="{'fa fa-chevron-right': isCollapsed, 'fa fa-chevron-down': !isCollapsed}"></i></td>
            <td ng-click="clickTooltip($event);" ng-mouseover="hoverTooltip($event);" class ="ttTitre">{{tooltip.title}}</td>
            <td class = "nofocus ttDelete" ng-show="isEditMode"> <i class="fa fa-times" style="float : right; color:red;" ng-click="confirmDelete($event, $index); $event.stopPropagation()"></i> </td>
          </tr>
          <tr class="collapse-row">
            <td colspan = 3>
              <div uib-collapse="isCollapsed">
                <div class="collapse-cell well well-lg">
                  {{tooltip.desc}}
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </md-content>


    </md-sidenav>

<div id="menu-container" ng-class="{expand: showTooltips}">
	<ul id="menu" >
		<li class = "nofocus" ng-click="autoPlay=!autoPlay; play()"><i class="fa" ng-class="{'fa-play': !autoPlay, 'fa-pause': autoPlay}"></i></li>
    <li class = "nofocus" ng-click="{clickTranslation : switchMode()}"><i class="fa fa-undo" ng-class="{'red' :clickRotation}"></i></li>
    <li class = "nofocus" ng-click="{clickRotation : switchMode()}"><i class="fa fa-arrows" ng-class="{'red' :clickTranslation }"></i></li>
    <li class = "nofocus" ng-click="isFullscreen=!isFullscreen;toggleFullscreen()"><i class="fa fa-expand" ng-class="{'fa-compress' : isFullscreen, 'fa-expand' : !isFullscreen}"></i></li>
    <li class = "nofocus" ng-click="pinMode=!pinMode; deleteAllPop()" ng-class="{'ng-hide': !isEditMode}" >  <i class = "fa fa-thumb-tack" ng-class="{'Rotate180': pinMode , 'Rotate-360' : !pinMode}"></i></li>
	</ul>
</div>

<div id="container">
<canvas id="orbit-canvas" hm-press="pin($event); deleteAllPop()" hm-tap="autoPlay=false; pin($event); deleteAllPop()" hm-drag="drag($event); deleteAllPop();" hm-dragstart="autoPlay=false; lastDrag=0;" hm-dragend="dragEnd()" msd-wheel="onWheel($event); deleteAllPop()"></canvas>
</div>
<div ng-transclude></div>
