orbitview {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;
  font-family: sans-serif;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  overflow: hidden;
}
orbitview a {
  color: #1478fa;
  text-decoration: none;
}
orbitview a:hover {
  text-decoration: underline;
}
orbitview #info {
  top: 15px;
  right: 5px;
  position: absolute;
}
orbitview #titreImage {
  cursor: help;
  color: #ffffff;
  font-weight: bold;
  width: 100%;
  position: absolute;
  text-align: center;
}
orbitview #orbit-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: block;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -o-crisp-edges;
  /* Opera */
  image-rendering: -webkit-optimize-contrast;
  /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  /* IE (non-standard property) */
}
orbitview #orbit-loader,
orbitview #orbit-loader-reso {
  z-index: 10;
  position: absolute;
  text-align: center;
  line-height: 100px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
}
orbitview #orbit-loader:before,
orbitview #orbit-loader-reso:before {
  border: solid rgba(255, 255, 255, 0.1) 3px;
  background-color: black;
  opacity: 0.7;
}
orbitview #orbit-loader:after,
orbitview #orbit-loader-reso:after {
  border: solid transparent 3px;
  border-top-color: rgba(255, 255, 255, 0.7);
  -webkit-animation: rotate 1s linear infinite;
  animation: rotate 1s linear infinite;
}
orbitview #orbit-loader:before,
orbitview #orbit-loader-reso:before,
orbitview #orbit-loader:after,
orbitview #orbit-loader-reso:after {
  position: absolute;
  top: 25px;
  left: 25px;
  display: block;
  width: 50px;
  height: 50px;
  content: '';
  border-radius: 70px;
}
orbitview #orbit-loader {
  width: 100px;
  height: 100px;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -50px;
}
orbitview #orbit-loader-reso {
  left: .5vw;
  top: .5vw;
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
orbitview #menu-container {
  width: 100%;
  position: absolute;
  z-index: 10;
  bottom: 20px;
  border-radius: 3px;
  pointer-events: none;
}
orbitview #menu-container #menu {
  background-color: rgba(0, 0, 0, 0.7);
  border: solid black 1px;
}
orbitview #menu-container #menu div {
  pointer-events: auto;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
  display: inline-block;
  padding: 1vmin 1vmin;
}
orbitview #menu-container #menu div img {
  max-width: 50px;
  min-width: 30px;
  width: 10vmin;
}
orbitview #menu-container .expand {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0;
}
orbitview #menu-container .player-icon {
  filter: brightness(40%);
}
orbitview #button-container {
  height: 100%;
  left: 100%;
  margin-left: -55px;
  position: absolute;
}
orbitview #button-container .canvasControls {
  top: 50%;
  margin-top: -25vh;
  position: absolute;
  height: 50vh;
}
orbitview #button-container #separateur {
  border-bottom: 1px solid grey;
}
orbitview #button-container .canvasButton {
  z-index: 10;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.7);
  width: 50px;
  height: 50px;
  line-height: 45px;
  margin: 10px 0 10px 0;
  background-color: rgba(0, 0, 0, 0.6);
  border: solid rgba(255, 255, 255, 0.6) 3px;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
}
orbitview #button-container .canvasButton .active {
  border: solid transparent 3px;
}
orbitview #button-container .canvasButton:hover,
orbitview #button-container .canvasButton:active {
  color: white;
}
orbitview #button-container .canvasButton .canvas-icon-selected {
  color: red;
}
orbitview #tooltip-table {
  width: 95%;
  table-layout: fixed;
}
orbitview #tooltip-table tbody {
  font-size: 16pt;
}
orbitview #tooltip-table tbody tr {
  height: 20px;
}
orbitview #tooltip-table tbody tr .border_bottom td {
  border-bottom: 1pt inset;
}
orbitview #tooltip-table tbody td {
  min-width: 20px;
}
orbitview #tooltip-table tbody td .rotato {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}
orbitview #tooltip-table tbody td .editable {
  color: lawngreen;
}
orbitview #tooltip-table tbody td .not-editable {
  color: grey;
}
orbitview #tooltip-table tbody .ttTitre {
  width: 80%;
  word-wrap: break-word;
}
orbitview #tooltip-table tbody .ttTitre .titre:hover {
  cursor: pointer;
  background-color: #ececec;
}
orbitview md-tooltip .md-content {
  position: relative;
  opacity: 1;
}
orbitview div.titrePop,
orbitview div.descPop {
  word-wrap: break-word;
  position: absolute;
  color: #303030;
  font-weight: bold;
  background-color: #9E9E9E;
  padding: 5px 5px 5px 15px;
  min-width: 100px;
  max-width: 20%;
  min-height: 22px;
  z-index: 20;
  opacity: 0.9;
  border: 1px solid #868686;
  border-radius: 0px 5px 5px 5px;
}
orbitview div.titrePop {
  display: none;
}
orbitview .nofocus:focus {
  outline: none;
}
.promptDialog {
  position: absolute;
  top: 10%;
  width: 95%;
}
@media (max-width: 500px), (max-height: 500px) {
  orbitview #info {
    width: 30px;
  }
  orbitview #button-container {
    margin-left: -35px;
  }
  orbitview #button-container .canvasButton {
    font-size: 15px;
    width: 30px;
    height: 30px;
    line-height: 25px;
    margin: 10px 0 10px 0;
  }
  /*
    md-input-container {
        display: inline-block;
        position: relative;
        padding: 2px;
        margin: 8px 0;
        vertical-align: middle;
    }
    */
}
